@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
button {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, Helvetica, Hiragino Sans, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 1rem;
}
@media only screen and ( max-width: 768px) {
  body {
    width: 100%;
  }
}

.pa {
  display: none;
}
@media only screen and ( min-width: 769px) and (max-width: 992px) {
  .pa {
    display: block;
  }
}
@media only screen and ( min-width: 993px) {
  .pa {
    display: block;
  }
}

.pain {
  display: none;
}
@media only screen and ( min-width: 769px) and (max-width: 992px) {
  .pain {
    display: inline;
  }
}

.sp {
  display: block;
}
@media only screen and ( min-width: 769px) and (max-width: 992px) {
  .sp {
    display: none;
  }
}
@media only screen and ( min-width: 993px) {
  .sp {
    display: none;
  }
}

.pc {
  display: none;
}
@media only screen and ( min-width: 993px) {
  .pc {
    display: block;
  }
}

.pcin {
  display: none;
}
@media only screen and ( min-width: 993px) {
  .pcin {
    display: inline;
  }
}

div,
h1,
h2,
h3,
h4,
p,
a {
  color: #707070;
}

a:hover {
  transition: all 0.2s ease-out;
}

.page {
  width: 100%;
  position: relative;
}

a {
  transition: 0.3s ease;
}

.header {
  width: 100%;
  height: 52px;
  background-color: rgba(0, 0, 0, 0.62);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.header .block {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  padding-left: 50px;
}
.header-nav {
  padding-right: 95px;
}
.header-nav a {
  display: inline-block;
  margin-right: 49px;
  font-family: Hiragino Kaku Gothic Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}

.main {
  position: relative;
}
.main .main-mask {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: 3s main;
  pointer-events: none;
}

@keyframes main {
  from {
    background-color: black;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
.sec0 {
  width: 100%;
}
.sec0 .background-container {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: -1;
}
.sec0 .background-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.sec0 .background-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.sec0 .description-container {
  margin-top: -60vh;
  position: relative;
}
.sec0 .description-container .description {
  width: 100%;
  margin-bottom: 100vh;
}
.sec0 .description-container .description h3 {
  font-family: Hiragino Kaku Gothic Pro;
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  color: #ffffff;
  width: 700px;
  margin: 21px auto;
}
.sec0 .description-container .description p {
  font-family: Hiragino Kaku Gothic Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: white;
  width: 700px;
  margin: 0 auto;
}
.sec0 .description-container .description:nth-child(5) {
  margin-bottom: 0;
  padding-bottom: 50vh;
}
.sec0 .description-container .description:nth-child(5) p {
  width: 940px;
}
.sec0 .description-container .description:nth-child(1) p {
  position: relative;
  top: 0.8rem;
  opacity: 0;
  animation: 0.5s swift-up ease-out forwards, 0.5s fade-in ease-out forwards;
  animation-delay: 0.8s;
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
.sec0 .description-container .description:nth-child(1) span {
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 0.8rem;
  animation: 0.3s swift-up ease-in-out forwards;
  margin-right: -12px;
}
.sec0 .description-container .description:nth-child(1) i {
  font-style: normal;
  position: relative;
  top: 2rem;
  animation: 0.5s swift-up ease-in-out forwards;
}
@keyframes swift-up {
  to {
    top: 0rem;
  }
}
.sec0 .description-container .description:nth-child(1) span {
  animation-delay: calc(var(--i) * 0.15s);
}
.sec0 .description-container .description:nth-child(1) span i {
  animation-delay: inherit;
}

.sec00 {
  height: 200vh;
  width: 100%;
  margin: 0;
}

.chip-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
}
.chip-container #A13 .chip {
  fill: #000;
}
.chip-container #A13 .text-bg {
  fill: #fff;
}
.chip-container #A13 .chip-mask {
  fill: #000;
}
.chip-container video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.chip-container #the-chip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 360px;
  box-shadow: 0px 0px 0px 100vw black, 0px 0px 0px 30px black inset;
  z-index: 10;
  min-width: 640px;
  min-height: 360px;
  background-color: #000;
}
.chip-container #the-chip.transparent {
  background-color: transparent;
}
.chip-container #A13 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.sec1 {
  width: 100%;
  height: 100vh;
  background-color: gray;
}
.sec1 img {
  width: 100%;
}

/*# sourceMappingURL=/scripts.b6981b85.css.map */